name: mvvm
description: A Flutter MVVM. It uses property-based data binding to establish a connection between the ViewModel and the View, and drives the View changes through the ViewModel.
version: 0.1.4
author: yichen <d.unicreators@gmail.com>
homepage: https://github.com/unicreators/mvvm
repository: https://github.com/unicreators/mvvm

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
